@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=Open+Sans:wght@300&family=Oswald&family=Roboto+Slab:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
}

body{
    background-color:#8e8f89;
}

.heading{
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    padding-top: 30px;
    background-color: rgb(10, 10, 10);
    text-align: center;
    border-radius: 0 0 40% 40%;
}
.logo{
    border-radius: 75px;
    height:120px; 
}

/* Game Area */

.game-area{
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:40px;
}

.option img{
    border-radius:25%;
    height:150px;
    border:5px solid #ff0000;  
}

.option img:hover {
    cursor: pointer;
    border:7px solid #fabbbb;
    transition: all 0.3s ease;   
}

/* Let's go!  Content and Dislay Results */
.result{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30%;
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color:#000000;
    font-weight: bold;
    text-transform: capitalize;
}

/* Score Area */
.score-area {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30%;
    color:#1b262c;
    text-align: center;
    display:flex;
    justify-content:space-evenly; 
    margin: 25px;
    color:#000000;
    font-size: 35px;
    font-weight:bold;  
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#score {
    height: 30px;
    font-weight: bold;
}

#incorect{
    height: 30px;
    font-weight: bold;

}

/* Rules / Reset / Save Score Buttons */


#buttons{
    margin-top: 100px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}


.btn{
    
    height:30px;
    width: 75px;
    margin-top: 10px;
    background-color:#e5ff00;
    color: #000000;
    font-weight: bold;
}

.rules.btn {
    border:5px solid #000000;
}

.rules.btn:hover{
    cursor:pointer;
    border :3px solid greenyellow;
    transition:all 0.4s ease;
}


.reset.btn{
    border: 5px solid #000000;
}

.reset.btn:hover{
    cursor:pointer;
    border :3px solid #a81d1d;
    transition:all 0.4s ease;
}
.save.btn {
    border: 5px solid #000000;
}

.save.btn:hover{
    cursor:pointer;
    border :3px solid #000000;
    transition:all 0.4s ease;
}

.lost { 
    color :#c03131;
}
.win {
    color:rgb(17, 197, 47);
}

/* Rules  pop up container */

.popupContainer {
    display: none;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:#1b262c;

}
.popupContent {
    background-color: #00ff0d;
    height: 80vh;
    width: 30vw;
    min-width: 250px;
    margin:auto;
    position: relative;
    margin-top: 10vh;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}
.popupContent h2 , h3 {
    margin-top: 7rem;
    margin-bottom: 1rem;
    padding: 3px;
}
.popupContent p{
    font-weight: bold;
    font-size: 1rem;
    padding: 3px;
}

.close {
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    margin:1rem;
    font-size: 3rem;
    background: none;
    border: none;
    color: #1b262c;

}

ul#scores{
    list-style: none;
}
ul#scores li {
    margin:0.4rem;
}



@media (max-width:567px) {
 

.logo{
    height:80px; 
}
.game-area {
    margin: 5px;
}
.result{
           
    font-size: 25px;
            
}
.score-area {
    margin-top:10px;
    font-size: 22px; 
    justify-content:space-between;
}
    
.btn{
    height:20px;
    width: 55px;
    border-radius:25px;
    margin-top:35px;
    font-weight: bold;
}

.btn-container{
    margin-top: -25px;
}

option img{
    border-radius:25px;
    height:25px;
    border:7px solid #1B262C;
}

.option img:hover {
    cursor: pointer;
    border:4px solid #BBE1FA;
    transition: all 0.4s ease;
 }
}

@media (max-width:768px){

.option img {
    height: 100px
}    

.logo{
    height:150px; 
}
.game-area {
    margin: 45px;
} 
    
.score-area {
    margin-top:20px;
    margin-bottom: 90px;
    font-size:25px; 
    justify-content:space-between;
}
        
.btn{
    
    height:40px;
    width: 95px;
    margin-top: 20px;    
}

option img{
    border-radius:25px;
    height:150px;
    border:10px solid #1B262C;
}
    
.option img:hover {
    cursor: pointer;
    border:7px solid #BBE1FA;
    transition: all 0.4s ease;
} 

.result{
    font-size: 30px;     
}
.btn-container{
    padding:5px;
}
}