@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=Open+Sans:wght@300&family=Oswald&family=Roboto+Slab:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f3ff4e;
}

.heading{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30%;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-top: 30px;
    background-color: rgb(0, 255, 157);
    text-align: center;
    border-radius: 0 0 40% 40%;
}
.logo{
    border-radius: 75px;
    height:120px; 
}

/* Game Area */

.game-area{
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:40px;
}

.option img{
    border-radius:25%;
    height:150px;
    border:5px solid #ff0000;  
}

.option img:hover {
    cursor: pointer;
    border:7px solid #fabbbb;
    transition: all 0.3s ease;   
}

/* Let's go!  Content and Dislay Results */
.result{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30%;
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color:#000000;
    font-weight: bold;
    text-transform: capitalize;
}

/* Score Area */
.score-area {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30%;
    color:#1b262c;
    text-align: center;
    display:flex;
    justify-content:space-evenly; 
    margin: 25px;
    color:#000000;
    font-size: 35px;
    font-weight:bold;  
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#score {
    height: 30px;
    font-weight: bold;
}

#incorect{
    height: 30px;
    font-weight: bold;

}

/* Rules / Reset / Save Score Buttons */


#buttons{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}


.btn{
    
    height:30px;
    width: 75px;
    margin-top: 10px;
    background-color:#e5ff00;
    color: #000000;
    font-weight: bold;
}

.rules.btn {
    border:5px solid #000000;
}

.rules.btn:hover{
    cursor:pointer;
    border :3px solid greenyellow;
    transition:all 0.4s ease;
}


.reset.btn{
    border: 5px solid #000000;
}

.reset.btn:hover{
    cursor:pointer;
    border :3px solid #a81d1d;
    transition:all 0.4s ease;
}
.save.btn {
    border: 5px solid #000000;
}

.save.btn:hover{
    cursor:pointer;
    border :3px solid #000000;
    transition:all 0.4s ease;
}

.lost { 
    color :#ff0000;
}
.win {
    color:rgb(0, 255, 42);
}
